* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

body {
    text-align: center;
}

.app {
    margin-bottom: 15px;
}

button:focus,
input:focus {
    outline: none;
}

button {
    margin-bottom: 15px;
    height: 30px;
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 0;
    margin-left: 15px;
    margin-bottom: 0;
    width: 30px;
    text-align: center;
}

input[type="text"] {
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
}

.new-text {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #000;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.completed {
    text-decoration: line-through;
}

.hidden {
    display: none !important;
}

button.active {
    background: green;
    color: #fff;
}

.container {
    display: inline-block;
    padding: 15px;
    text-align: left;
}

.line {
    position: relative;
    min-height: 40px;
    padding: 10px 0;
    line-height: 30px;
}

.error {
    color: red;
}

.wrapper-counter {
    margin-bottom: 15px;
}

.wrapper-counter div {
    float: left;
}

.wrapper-counter div:first-child {
    margin-right: 15px;
}

#pagination {
    padding-left: 0;
    list-style: none;
}

#pagination li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

#pagination a {
    text-decoration: none;
    color: #000;
}

#pagination .active {
    color: green;
    background: aliceblue;
}